main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main-container{
  position: relative;
  height: 90vh;
  aspect-ratio: 9 / 20;
  padding: 10px;
  border-radius: 15px;
  outline: 3px solid var(--line-color);
  box-shadow: 10px 10px var(--line-color);

  display: flex;
  flex-direction: column;
  gap: 10px;
  
  background-color: var(--main-background);
}