.ToDoNewToDo{    
    position:absolute;
    bottom: 0;
    z-index: 2;
    outline: 2px solid var(--line-color);
    border-radius: 15px;
    background-color: var(--main-background);
    width: 100%;
    height: 100%;
    padding: 10px;
    
}

.ToDoNewToDo__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-block: 10px;
    
}


.ToDoNewToDo__description{
    width: 100%;    
    resize: none;   
    border: none;
    outline: none;
}

