.ToDoList-main-container{
    position: relative;
}

.ToDoList__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-block: 10px;
    
}
/* .ToDoList__deleted-section{    
    position:absolute;
    top: 0;
    z-index: 2;
    outline: 2px solid var(--line-color);
    border-radius: 15px;
    background-color: var(--main-background);
    width: 100%;
    padding: 10px;
}
 */
