.ToDoDeletedList{    
    position:absolute;
    z-index: 2;
    outline: 2px solid var(--line-color);
    border-radius: 15px;
    background-color: var(--main-background);
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 90vh;
    padding: 10px;
    box-shadow: 10px 10px var(--line-color);
    
}


.ToDoDeletedList__head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ToDoDeletedList__delete-for-ever{   
    display: flex;
    justify-content: right;
    align-items: center;
    /* padding: 5px; */
    height: 40px;
    width: 40px;   
    border-radius: 50px;
    background-color: var(--item-background);
    outline: 2px solid var(--line-color);
    box-shadow: 5px 5px var(--line-color);
    font-weight: 700;
    transition: 0.8s width;
    overflow: hidden;
}

.ToDoDeletedList__empy-text{
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);    
    transition: 0.5s opacity, 0.5s visibility, 0.5s transform;

}
.ToDoDeletedList__delete-for-ever:hover .ToDoDeletedList__empy-text{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);   
    transition: 0.5s opacity, 0.5s visibility,0.5s transform;

}
.ToDoDeletedList__delete-for-ever:hover{
    width: 100px;
    transition: 0.5s width;
}

.ToDoDeletedList__empy-img{
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}




.ToDoDeletedList__ul-container{        
    position:relative;
    outline: 2px solid var(--line-color);
    border-radius: 15px;
    background-color: var(--main-background);
    width: 100%;   
    height: auto;
    max-height: calc(100vh - 180px);
    padding: 10px;    
    overflow: scroll;
  }
.ToDoDeletedList__ul-container::-webkit-scrollbar {
    width: 0;
}  

.ToDoDeletedList__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-block: 10px; 
    
}

.ToDoDeletedList__ul-container::-webkit-scrollbar {
    display: none;
  }  



  /* Estilos para Firefox */
.ToDoDeletedList__ul-container {
    scrollbar-width: none; /* Oculta el scrollbar de Firefox */
  }
  
  
  .ToDoDeletedList__ul-container::-moz-scrollbar {
    display: none; /* Oculta el scrollbar de Firefox */
  }