.ToDoList-main-container{
    position: relative;
    overflow: scroll;
    padding: 0 10px;
    max-height: 78%;    
    border-radius: 15px;    
}

.ToDoList-main-container::-webkit-scrollbar {
    width: 0;
  }  
 

.ToDoList__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-block: 10px;
    
}

