.ToDoInput{
    padding: 0 15px;
    min-height: 30px;
    outline: none;
    border-radius: 50px;
    background-color: var(--input-background);
    box-shadow: inset 1px 1px var(--line-color);
 
    
}